<!--The idea here is to define a common namespace to for the rvr1, you can modify it for rvr2 as well-->
<launch>
  <!-- Defining common namespace -->
  <group ns="rvr1">

    <!--Changing the absolute namespaces into the common namespace-->
    <node pkg="rvr_ros"
          type="rvr_async_driver.py"
          name="driver_sync"
          output="screen">
      <remap from="/rvr/ambient_light"  to="ambient_light"/>
      <remap from="/rvr/ground_color"  to="ground_color"/>
      <remap from="/rvr/imu"           to="imu"/>
      <remap from="/rvr/odom"          to="odom"/>
      <remap from="/rvr/point_cloud"   to="point_cloud"/>
      <remap from="/rvr/wheels_speed"   to="wheels_speed"/>
      <remap from="/rvr/rgb_leds"   to="rgb_leds"/>
    </node>

    <!--We do the same for the Lidar-->
    <include file="$(find ydlidar_ros_driver)/launch/X4.launch">
      <remap from="/scan"           to="scan"/>
      <remap from="/tf"             to="tf"/>
      <remap from="/point_cloud"    to="point_cloud"/>
      <!-- et /tf_static si besoin : -->
      <remap from="/tf_static"      to="tf_static"/>
    </include>

  </group>
</launch>
