<launch>
  <!-- Arguments, modifiables via roslaunch -->
  <arg name="use_sim_time"     default="false"/>
  <arg name="odom_topic"       default="/rvr/odom"/>
  <arg name="scan_topic"       default="/scan"/>
  <arg name="odom_frame"       default="odom"/>
  <arg name="base_frame"       default="base_link"/>
  <arg name="laser_frame"      default="laser"/>
  <arg name="map_frame"        default="map"/>

  <!-- Optionnel : sim_time -->
  <param name="use_sim_time" value="$(arg use_sim_time)"/>

  <!-- 1) Diffuse odom -> base_link -->
  <node pkg="rvr_ros" type="mdr_odom.py" name="odom_tf_broadcaster" output="screen">
    <param name="odom_topic" value="$(arg odom_topic)"/>
    <param name="odom_frame" value="$(arg odom_frame)"/>
    <param name="base_frame" value="$(arg base_frame)"/>
  </node>

  <!-- 2) Transform statique base_link -> laser -->
  <node pkg="tf" type="static_transform_publisher" name="base_link_to_footprint"
        args="0 0 .2  0 0 0 1  base_link  base_footprint  100"/>

<node pkg="tf" type="static_transform_publisher" name="footprint_to_laser"
      args="0.0 0.0 0.2  0.0 0.0 0.0  base_footprint  laser_frame  40"/> 
  <!-- 3) Lancer gmapping en partant de (0,0,0) -->
  <node pkg="gmapping" type="slam_gmapping" name="slam_gmapping" output="screen">
    <!-- Frames -->
    <param name="provide_odom_frame"   value="true"/>
     <param name="map_update_interval"  value="0.05"/>
    <param name="base_frame" value="$(arg base_frame)"/>
    <param name="odom_frame" value="$(arg odom_frame)"/>
    <param name="map_frame"  value="$(arg map_frame)"/>
    <!-- Topics -->
    <param name="scan_topic" value="$(arg scan_topic)"/>
    <!-- Paramètres de gmapping (exemple, ajustez selon votre robot) -->
    <param name="maxUrange"       value="10.0"/>
    <param name="sigma"           value="0.05"/>
    <param name="lstep"           value="0.05"/>
    <param name="astep"           value="0.05"/>
    <param name="iterations"      value="5"/>
    <param name="lsigma"          value="0.075"/>
    <param name="ogain"           value="3.0"/>
    <param name="lskip"           value="0"/>
    <param name="srr"             value="0.1"/>
    <param name="srt"             value="0.2"/>
    <param name="str"             value="0.1"/>
    <param name="stt"             value="0.2"/>
    <param name="linearUpdate"    value="0.3"/>
    <param name="angularUpdate"   value="0.5"/>
    <param name="temporalUpdate"  value="1.0"/>
    <param name="resampleThreshold" value="0.5"/>
    <param name="particles"       value="30"/>
            <param name="xmin" value="-1.0"/>
        <param name="xmax" value="1.0"/>
        <param name="ymin" value="-1.0"/>
        <param name="ymax" value="1.0"/>
        <param name="delta" value="0.02"/>
        <param name="maxRange" value="1"/>
        <param name="maxUrange" value="1.2"/> 
  </node>
</launch>
